# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio 캐시 및 임시 파일
.vs/

# 빌드 결과물 및 중간 생성 파일
Bin/
Intermediate/
[Ii]ncludes/
[Ll]ib/

# 기타 사용자 설정 파일
*.user
*.suo